<section class="intro" #intro>
  <header>
    <h1>DotA 2 RPC</h1>
    <p>An open source project to display the status of your matches on discord</p>
    <ul class="actions">
      <li><a style="cursor: pointer" (click)="onClickDown()" class="arrow scrolly"><span class="label">Next</span></a>
      </li>
    </ul>
  </header>
  <div class="content">
    <span class="onCenter">
      <div class="imagesAvailable">
        <div class="banner">
          <img class="screenshot" src="assets/img/ScreenshotExample.png" />
          <div class="outsideBanner">
            <img class="rpc" src="assets/img/RichPresenceExample.png" />
          </div>
        </div>
      </div>
      <div class="buttonsAvailable">
        <a href="https://github.com/andsfonseca/dota2-rpc-client/releases/latest/download/dota2-rpc-client.zip"
          class="button icon solid fa-download">Download</a>
        <a href="https://github.com/andsfonseca/dota2-rpc-client" class="button icon brands fa-github">View Source</a>
      </div>
    </span>
  </div>
</section>

<section #next class="hide-1152">
  <div class="content content-spacer">
  </div>
</section>

<section>
  <header>
    <h2>Make your profile more powerful</h2>
  </header>
  <div class="content">
    <p>Make your Discord profile more <strong>powerful</strong> with these <strong>features</strong>.</p>

    <section class="hide-1152">
      <div class="content content-spacer-half"></div>
    </section>

    <section>
      <header>
        <h5>
          <ul class="feature-icons feature-icons-full">
            <li class="icon solid fa-video">See what your friends are watching</li>
          </ul>
        </h5>
      </header>
      <div class="content feature-content">
        <p>Retrieve information from your match that you are watching, includes elapsed time and networth.</p>
        <img class="img-feature" src="assets/img/features/watching.gif">
      </div>
    </section>

    <section>
      <header>
        <h5>
          <ul class="feature-icons feature-icons-full">
            <li class="icon solid fa-person-half-dress">Show off your heroes with your favorite skins</li>
          </ul>
        </h5>
      </header>
      <div class="content feature-content">
        <p>Different icons for each skin that your hero is wearing.</p>
        <img class="img-feature" src="assets/img/features/skin-1.gif">
        <img class="img-feature" src="assets/img/features/skin-2.gif">
        <img class="img-feature" src="assets/img/features/skin-3.gif">
      </div>
    </section>

    <section>
      <header>
        <h5>
          <ul class="feature-icons feature-icons-full">
            <li class="icon solid fa-coins">Show your skills of accumulating money in the game</li>
          </ul>
        </h5>
      </header>
      <div class="content feature-content">
        <p>Find information about accumulated gold, last hits and negations, available by hovering the mouse.</p>
        <img class="img-feature" src="assets/img/features/gold-lh-dn.gif">
      </div>
    </section>

    <section>
      <header>
        <h5>
          <ul class="feature-icons feature-icons-full">
            <li class="icon solid fa-magic-wand-sparkles">Show your items and your buffs</li>
          </ul>
        </h5>
      </header>
      <div class="content feature-content">
        <p>Different icons for each item or effect you have.</p>
        <img class="img-feature" src="assets/img/features/effect-smoke.gif">
        <img class="img-feature" src="assets/img/features/item-shard.gif">
        <img class="img-feature" src="assets/img/features/item-scepter.gif">
        <img class="img-feature" src="assets/img/features/item-scepter-shard.gif">
      </div>
    </section>

    <section>
      <header>
        <h5>
          <ul class="feature-icons feature-icons-full">
            <li class="icon solid fa-mountain-sun">Modified map support*</li>
          </ul>
        </h5>
      </header>
      <div class="content feature-content">
        <p>Shows a different name for modified maps.</p>
        <img class="img-feature" src="assets/img/features/map-demo-hero.gif">
        <blockquote>Works only on registered maps.</blockquote>
      </div>
    </section>

    <section>
      <header>
        <h5>
          <ul class="feature-icons feature-icons-full">
            <li class="icon solid fa-headset">See your instructors</li>
          </ul>
        </h5>
      </header>
      <div class="content feature-content">
        <p>Your coach deserves a different presence too.</p>
        <img class="img-feature" src="assets/img/features/coaching.gif">
      </div>
    </section>

    <section>
      <header>
        <h5>
          <ul class="feature-icons feature-icons-full">
            <li class="icon solid fa-language">Multiple language support*</li>
          </ul>
        </h5>
      </header>
      <div class="content feature-content">
        <p>He says: 'Possum intellegere te'. Auto-detect your language.</p>
        <img class="img-feature" src="assets/img/features/lang-en.gif">
        <img class="img-feature" src="assets/img/features/lang-br.gif">
        <blockquote>Check if the desired translation is available.</blockquote>
      </div>
    </section>
  </div>
</section>

<section>
  <header>
    <h2>How to install?</h2>
  </header>
  <div class="content">
    <p>Follow the <strong>step-by-step instructions</strong> for quick and easy installation.</p>

    <section class="hide-1152">
      <div class="content content-spacer-half"></div>
    </section>

    <section>
      <header>
        <h5>
          <ul class="feature-icons feature-icons-full step">
            <li class="icon solid fa-1">Download the files</li>
          </ul>
        </h5>
      </header>
      <div class="content feature-content">
        <p>Click the button below and download the file.</p>
        <a href="https://github.com/andsfonseca/dota2-rpc-client/releases/latest/download/dota2-rpc-client.zip"
          class="button primary icon solid fa-download">Download</a>
      </div>
    </section>

    <section>
      <header>
        <h5>
          <ul class="feature-icons feature-icons-full step">
            <li class="icon solid fa-2">Extract the files</li>
          </ul>
        </h5>
      </header>
      <div class="content feature-content">
        <p>Extract the files and paste them into a folder reserved for your programs.</p>
        <img class="img-feature" src="assets/img/ExtractExample.png">
      </div>
    </section>

    <section>
      <header>
        <h5>
          <ul class="feature-icons feature-icons-full step">
            <li class="icon solid fa-3">Install the service</li>
          </ul>
        </h5>
      </header>
      <div class="content feature-content">
        <p>Click on the option "install.windows.bat" and that's it! Let's play!</p>
        <img class="img-feature" src="assets/img/InstallExample.png">
      </div>
    </section>
  </div>
</section>

<section>
  <header>
    <h2>Last but not least</h2>
  </header>
  <div class="content feature-content">
    <p>Because it's <strong>open source</strong>, you can always add, modify and suggest more to the project.</p>
    <p>Create a suggestion, show your discord profile or report an issue by clicking the buttons below:</p>
    <div class="buttonsAvailable mb-1">
      <a href="https://github.com/andsfonseca/dota2-rpc-client/discussions"
        class="button primary icon solid fa-comments">See discussions</a>
      <a href="https://github.com/andsfonseca/dota2-rpc-client/issues/new/choose"
        class="button primary icon solid fa-dot-circle">Create a issue</a>
    </div>
    <p>This application is in no way associated with Discord, Valve, or any other related company. All images and fonts
      are available from the official DotA 2 website.</p>
  </div>
  <footer>
    <h3 class="black-1152"> Make with <i class="fa-solid fa-heart"></i> by <a
        href="https://github.com/andsfonseca">@andsfonseca</a>.</h3>
  </footer>
</section>