[submodule "third_party/SrvLib"]
	path = third_party/SrvLib
	url = https://github.com/andsfonseca/SrvLib.git
[submodule "third_party/nativefiledialog-extended"]
	path = third_party/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended.git
